.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1560px;
    margin: auto;
    height: 100vh;
    main {
        width: 100%;
    }
}